label.error{
	width:245px;
	height:34px;
	background:url(../../images/base/_1530.png) no-repeat right bottom;	
	background-size:240px 30px;
	float:left;
	font-size:12px;
	line-height:40px;
	text-indent:43px;
	margin-top:8px;	
	position:absolute;	
	display:none;	
}